@charset "UTF-8";.scroll-container{width:100%;height:100vh;overflow:auto;white-space:nowrap}.q-img{display:inline-block;vertical-align:top}.closeButton{position:absolute;right:10px;top:10px;z-index:9999}
