// app global css in SCSS form
@import './custom-styles-light.scss';

@import './custom-styles-dark.scss';

@import './general.scss';

@import './router-transitions.scss';
@import './introjs.scss';

// @import 'src/css/flatpickr.scss';

@font-face {
    font-family: customfont;
    src: url(./fonts/Inter.ttf);
  }
  
  // declare a class which applies it
  .my-font {
    font-family: 'customfont';
    font-weight: 400;
    font-size: 0.98em;
    letter-spacing: -0.1px;
  }
  