.mini-texto {
  font-size: 10px;
}

.custom-shadow {
  box-shadow: 0px 10px 80px -10px rgba(44, 54, 92, 0.2);
}

.text-shadow {
  text-shadow: 1px 1px 4px #00000055;
}

// Estado input
.q-field--disabled .q-field__inner {
  background-color: $grey-4;
}

.q-field--disabled .q-field__control > div {
  opacity: 1 !important;
}

// Custom scrollbar
body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-card {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-virtual-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

// Fondos
.fondo-gradiente {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Notificacion personalizada
.advertencia-personalizada {
  background: red;
}
