.bg-fondo {
  background-color: #efeff7;
}

// Tabs
.bg-tabs {
  background: rgb(46, 76, 129);
  background: linear-gradient(
    180deg,
    rgba(46, 76, 129, 1) 0%,
    rgba(30, 50, 84, 1) 100%
  );
}

.rounded-tabs {
  border-radius: 16px 16px 0 0;
}

.position-tabpanel {
  position: relative;
  top: 0px;
}

.chip {
  background-color: #fff;
  color: $secondary;
  border-radius: 16px 4px 0 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
}

.chip-opaque {
  background-color: #ffffff66;
  color: $secondary;
  border-radius: 16px 4px 0 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
}

.rounded-tabpanel {
  border-radius: 0 16px 16px 16px;
}

.bg-drawer {
  background-color: #c2c2cf;
}

.q-card,
.q-menu {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mini-texto {
  font-size: 10px;
}

.custom-shadow {
  // box-shadow: 0px 10px 60px -10px rgba(44, 54, 40, 0.2);
}

.shadow-chip {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
}

.borde {
  border: 1px solid #ddd;
}

.double-border {
  outline: 1px solid rgba(255, 255, 255, 0.26);
}

.text-shadow {
  text-shadow: 1px 1px 4px #00000055;
}

// Estado input
.q-field .q-field__inner {
  text-transform: uppercase;
}

.q-field--disabled .q-field__inner {
  background-color: #474e5933;
}

.q-field--disabled .q-field__control > div {
  opacity: 1 !important;
}

// Toggle
.my-custom-toggle {
  border: 1px solid $positive;
}

.borde-header-tabla {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

// Custom scrollbar
body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-card {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-virtual-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

// Fondos
.fondo-gradiente {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Notificacion personalizada
.advertencia-personalizada {
  background: red;
}
