$bg-body: #060606;
$dark-color: #1f1f1f;
$dark-color-transparency: #1f1f1f33;
$text-color: #fff;
$text-color-transparency: rgba($text-color, 0.6);
$border-color: #464646;

.body--dark {
  .bg-toolbar {
    background-color: #1f1f1f3a;
    backdrop-filter: blur(10px);
  }

  .bg-body {
    background-color: $bg-body;
  }

  .bg-body-table {
    background-color: $bg-body;
  }

  .bg-body-table-dark-color {
    background-color: $dark-color;
  }

  .bg-desenfoque {
    background-color: $dark-color-transparency;
    backdrop-filter: blur(10px);
  }

  .bg-header-collapse {
    background-color: $bg-body;
  }

  .bg-drawer {
    background-color: $dark-color;
  }

  // Tabs
  .tab-active {
    background-color: $dark-color;
    color: $text-color;
    border-radius: 16px 4px 0 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  }

  .tab-inactive {
    background-color: rgba($dark-color, 0.6);
    color: $text-color-transparency;
    border-radius: 16px 4px 0 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  }

  // Toggle
  .toggle-button {
    border: 1px solid $positive;
    background-color: $bg-body;
  }

  .toggle-button-grey {
    border: 1px solid $grey;
    background-color: transparent;
  }

  // Tabla
  .q-table__top,
  thead tr:first-child th {
    background-color: $dark-color;
  }

  .borde-header-tabla {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-radius: 8px 8px 0 0;
  }

  .q-card,
  .q-menu {
    box-shadow: #000 0px 8px 24px;
    border: 1px solid $border-color;
  }

  .custom-shadow {
    box-shadow: 0px 10px 60px -10px rgba(#000, 1) !important;
  }

  // Loading
  .loading-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark-color;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  // Input
  .q-field .q-field__inner {
    text-transform: uppercase;
    background-color: $bg-body;
  }

  .q-field--disabled .q-field__inner {
    background-color: #474e5933;
  }

  // EssentialTableTabs
  .bg-table-tabs {
    background-color: $dark-color;
  }

  // Scroll table
  /* .q-virtual-scroll {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: $bg-body;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: $border-color;
      border-radius: 50px;
    }
  } */

  // Menu item drawer
  .link-active {
    background: rgba($bg-body, 1);
    border-right: 3px solid $primary;

    i {
      color: $primary;
    }

    .q-item__label {
      font-weight: bold;
    }
  }

  .color-icono {
    color: #8288a2;
  }

  // Botones tabla
  .bg-btn-table {
    background-color: $grey-10;
  }

  // Shadow menu
  .q-card,
  .q-menu {
    box-shadow: rgba(#fff, 0.052) 0px 8px 24px;
  }

  // Expansion
  .expansion {
    border-radius: 8px;
    border: 1px solid $border-color;
    background-color: $dark-color;
  }

  // Drawer
  .border-right {
    border-right: 1px solid $grey-8;
  }

  .border-bottom {
    border-bottom: 1px solid $grey-8;
  }
}
