.body--light {
  .bg-toolbar {
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
  }

  .bg-body {
    background-color: $grey-3;
  }

  .bg-body-table {
    background-color: #fff;
  }

  .bg-body-table-dark-color {
    background-color: #fff;
  }

  .bg-desenfoque {
    background-color: #efeff733 !important;
    backdrop-filter: blur(10px) !important;
  }

  .bg-header-collapse {
    background-color: $grey-1;
  }

  .tab-active {
    background-color: #fff;
    border-radius: 16px 4px 0 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  }

  .tab-inactive {
    background-color: #ffffff66;
    border-radius: 16px 4px 0 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  }

  .bg-drawer {
    background-color: #fff;
  }

  .q-card,
  .q-menu {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
  }

  // Expansion
  .expansion {
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  .mini-texto {
    font-size: 10px;
  }

  .custom-shadow {
    box-shadow: 0px 10px 60px -10px rgba(44, 54, 60, 0.2);
  }

  .custom-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }

  .shadow-button {
    box-shadow: 0px 10px 60px -10px rgba(44, 54, 60, 0.4);
  }

  .error-validation {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 8px;
    background-color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    z-index: 99999;
  }

  .shadow-chip {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  }

  .borde {
    border: 1px solid #ddd;
  }

  .double-border {
    outline: 1px solid rgba(255, 255, 255, 0.26);
  }

  .text-shadow {
    text-shadow: 1px 1px 4px #00000055;
  }

  // Toggle
  .toggle-button {
    border: 1px solid $positive;
    background-color: #fff;
  }

  .toggle-button-primary {
    border: 1px solid $primary;
    background-color: #fff;
  }

  .toggle-button-grey {
    border: 1px solid $grey;
    background-color: transparent;
  }

  // Tabla
  .q-table__top,
  thead tr:first-child th {
    background-color: $grey-2;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #ddd;
  }

  .borde-header-tabla {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
  }

  .bg-btn-table {
    background-color: $primary;
    color: #fff;
  }

  // Loading
  .loading-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  // Input
  .q-field .q-field__inner {
    text-transform: uppercase;
    background-color: $grey-1;
  }

  .q-field--disabled .q-field__inner {
    background-color: #9ba5bb23;
    //color: $accent !important;
  }

  .q-field--disabled .q-field__inner .q-field__native {
    color: #000 !important;
    font-weight: 500 !important;
  }

  // EssentialTableTabs
  .bg-table-tabs {
    background-color: #fff;
  }

  // Scroll table
  /* .q-virtual-scroll {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 50px;
    }
  } */

  // Menu item drawer
  .link-active {
    background: rgba(#efeff7, 1);
    border-right: 3px solid $primary;

    i {
      color: $primary;
    }

    .q-item__label {
      font-weight: bold;
    }
  }

  .color-icono {
    color: #575b6e;
  }

  .q-card {
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #fff;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 50px;
    }
  }

  // Fondos
  .fondo-gradiente {
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #8f94fb,
      #4e54c8
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f94fb,
      #4e54c8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  //Notificacion personalizada
  .advertencia-personalizada {
    background: red;
  }

  // Drawer
  .border-right {
    border-right: 1px solid $grey-4;
  }

  .border-bottom {
    border-bottom: 1px solid $grey-4 !important;
  }
}
