.custom-shadow {
  box-shadow: 0px 10px 80px -10px rgba(44, 54, 92, 0.2);
}

.text-shadow {
  text-shadow: 1px 1px 4px #00000055;
}

// Custom scrollbar
body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-card {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}

.q-virtual-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }
}
