// Custom scrollbar
body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background: #aaaaaa;
    // background: -webkit-linear-gradient(to top, #2f4d81, #009fff);
    // background: linear-gradient(to top, #2f4d81, #009fff);
  }
}

.q-virtual-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #aaa;
    // background: -webkit-linear-gradient(45deg, #2f4d81, #009fff);
    // background: linear-gradient(45deg, #2f4d81, #009fff);
  }
}

.rounded-card {
  border-radius: 16px !important;
}

.rounded-tabpanel {
  border-radius: 0 16px 16px 16px;
}

.rounded-toolbar {
  border-radius: 0 0 16px 16px;
}

.rounded-header {
  border-radius: 16px 16px 0 0 !important;
}

.rounded-footer {
  border-radius: 0 0 16px 16px !important;
}

// table
.q-virtual-scroll__content {
  text-transform: uppercase;
}

.label-card-table {
  text-transform: uppercase;
}

input[type='time']::-webkit-calendar-picker-indicator {
  height: 30px;
  width: 30px;
  cursor: pointer;
  filter: invert(70%);
}

/* .bg-transparent {
    background-color: transparent !important;
    border: none !important;
  } */
