// Custom scrollbar
body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background: #009fff;
    background: -webkit-linear-gradient(to top, #da7e2f, #2f4d81, #009fff);
    background: linear-gradient(to top, #da7e2f, #2f4d81, #009fff);
  }
}

.rounded-card {
  border-radius: 16px;
}

.rounded-tabpanel {
  border-radius: 0 16px 16px 16px;
}

// table
.q-virtual-scroll__content {
  text-transform: uppercase;
}

.label-card-table {
  text-transform: uppercase;
}

input[type='time']::-webkit-calendar-picker-indicator {
  height: 30px;
  width: 30px;
  cursor: pointer;
  filter: invert(70%);
}

.q-virtual-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #009fff;
    background: -webkit-linear-gradient(45deg, #da7e2f, #2f4d81, #009fff);
    background: linear-gradient(45deg, #da7e2f, #2f4d81, #009fff);
  }
}
