// --------------------------------------------------
// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// Para customizar la app, sobreescribimos las variables aquí.
// Solo descomenta el bloque de la marca que quieras usar.
// --------------------------------------------------


// ==============================
// JP CUSTODY
// ==============================

/* $primary:        #F2B705;
$primary-dark:   #8b5b00;
$secondary:      #0b0700;
$accent:         #ccbe00;
$info:           #1D4ED8;
$warning:        #F2C037;
 */


// ==============================
//  JP CONSTRUCRED
// ==============================
  $primary:        #32598C;
 $primary-dark:   #1A4169;
 $secondary:      #D96E30;
 $accent:         #14A1D9;
 $info:           #1D4ED8;
 $warning:        #F2C037;

// ==============================
//  CC LEDARE
// ==============================
/*  $primary:        #07598C;
 $primary-dark:   #054264;
 $secondary:      #F28705;
 $accent:         #F2A341;
 $info:           #07598C;
 $warning:        #F2C791; */


// ==============================
// CUSTOM
// ==============================
$dark:           #1D1D1D;
$dark-page:      #0D0D0D;
$positive:       #16A34A;
$negative:       #B91C1C;
$error:          #B91C1C;
