// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// JP CONSTRUCRED
// $primary: #3f71fb; //003dff; // 0879dc;
// $primary-dark: #1B56FD; // 001b72

// JP CUSTODY
//$primary:#D5AD00;
 //$primary-dark:#000000;

// ----------------------------------------
//$primary:#1d1d1d;
// $primary:#1b508e; // ccledare
$secondary: #F2AA52; // jp custody
//$secondary: #283593; // jp construcred
$accent: #ed9200;
$dark: #1d1d1d;
$dark-page: #121212;

$positive: #11a900; //#12b500;
// $positive: #98bf23;
$negative: #9a070e; //#c94b4b;
$error: #9a070e; //#c94b4b;
$info: #0879dc;
$warning: #f2c037;
