// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0879dc; // jp construcred
 //$primary:#bb9901; // #D5AD00 jp custody
// $primary:#1b508e; // ccledare
//$primary:#1d1d1d;
$secondary: #F2AA52;
//$secondary: #283593;
$accent: #ed9200;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #11a900; //#12b500;
// $positive: #98bf23;
$negative: #9a070e; //#c94b4b;
$info: #0879dc;
$warning: #f2c037;
